<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="importmap-type" content="systemjs-importmap">
    <script type="systemjs-importmap">
        {
          "imports": {
            <%for(var i=0;i<apps.length;i++){%>
              "<%= apps[i].name %>":"<%= apps[i].server %><%=apps[i].resourceEntryUrl %>",
            <%}%>
            "single-spa": "https://cdnjs.cloudflare.com/ajax/libs/single-spa/4.3.7/system/single-spa.min.js",
            "vue": "https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js",
            "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@3.0.7/dist/vue-router.min.js"
          }
        }
      </script>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/single-spa/4.3.7/system/single-spa.min.js" as="script" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/system.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/amd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-exports.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-register.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/use-default.min.js"></script>
</head>
<body>
  <script>var url = window.url = 'http://localhost:8080/store.js'</script>
  <script>
    (function(){
        Promise.all([
            System.import('single-spa'),
            System.import('vue'), 
            System.import('vue-router'),
            System.import('/apps.config.json'),
            System.import('/store.config.json')
        ])
        .then((res)=>{
            var singleSpa=res[0];
            var Vue = res[1];
            var VueRouter = res[2];
            var configs=res[3].default;
            var storeUrl = res[4].default.storeUrl;
            Vue.use(VueRouter);
            
            let storeModule = {}
            configs.apps.forEach( project => {
              if(project.base===true){
                    singleSpa.registerApplication(project.name,()=>System.import(project.name),(location)=>true);
              }
            });
            System.import(storeUrl).then((_res)=>{
                storeModule = _res.default;
                configs.apps.forEach( project => {
                  if(project.base===false){
                    singleSpa.registerApplication(project.name,()=>System.import(project.name),(location)=>{
                      return location.pathname.startsWith(`/${project.name}`);
                    },{store: storeModule});
                  }
                });
                singleSpa.start();
            })
        })
    })()
</script>

</body>
</html>